# Server Configuration
PORT=8080

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=dexbro_workshop

# CORS Configuration
FRONTEND_URL=http://localhost:3000

# Razorpay Configuration
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_secret_key
